@font-face {
  font-family: et_book;
  src: url('fonts/et-book-roman-line-figures/et-book-roman-line-figures.ttf');
}

@font-face {
    font-family: et_book_bold;
    src: url('fonts/et-book-bold-line-figures/et-book-bold-line-figures.ttf');
}

html, button, input, select, textarea {
    font-family: et_book;
    font-size: 16px;
    color: #333;
}

.align {
    display: flex;
    height: 94vh;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1025px) {
    .column.left {width: 30%; margin: 0; padding: 10%;}
    .column.left {font-size: 1.2em;}

    .column.right {
        display: flex;
        align-items: center; justify-content: center;
        width: 50%; height: 100%;
        /* background-image: url(images/background-home.jpg); */
        background-repeat: no-repeat;
        background-position: center center;
    }
    .column.right #logo {text-align: center;}
    footer {display: flex; font-size: 0.7em; width: 100%; justify-content: right;}
}

@media (max-width: 1024px) {
    .column.left {width: 75%; font-size: 3em;}
    .column.right {display: none;}
    footer {display: none;}
}

a, a:visited {
    text-decoration: none;
    font-family: et_book_bold;
    font-size: 1.1em;
    color: #333;
}

a:hover {
    text-decoration: underline;
}
