{% extends "base-writing.html" %}

{% block header %}
<header class="centered">
    <h1><a href="/writing/">{{ section.title }}</a></h1>
</header>
{% endblock header %}

{% block content %}
<main>
    <section class="posts-list">
        <ul>
            {% for page in section.pages | sort(attribute="date") | reverse %}
            <li><a href="{{ page.permalink }}">{{ page.title }}</a>,
                <small><em>{{ page.date | date(format="%B %d, %Y")}}</em></small></li>
            {% endfor%}
        </ul>
    </section>
</main>
{% endblock content %}
