html, button, input, select, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    padding: 0;
    margin: 0;
}

.centered {
    text-align: center;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-height {
    min-height: 94vh;
}

.writing {
    width: 70em;
    background-color: whitesmoke;
    text-align: left;
}

a, a:visited {
    text-decoration: underline #333 dotted;
    font-size: 1.1em;
    color: #333;
}

a:hover {
    text-decoration: underline #333 solid;
}

hr {
    opacity: 0.7;
    border-width: 0.01em;
    border-color: rgba(210,210,210,0.7);
}

@media (min-width: 1025px) {
    .column.left {width: 30%; margin: 0; padding: 10%;}
    .column.left {font-size: 1.2rem;}

    .column.right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .column.right #logo {text-align: center;}
    footer {
        display: flex;
        font-size: 0.7rem;
        width: 100%;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

@media (max-width: 1024px) {
    .column.left {width: 75%; font-size: 2.0rem;}
    .column.right {display: none;}

    footer {
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;
    }
}
